/*--------------------------------------------------------------
1.0 Defaults
--------------------------------------------------------------*/

html, body {
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.2;
  -webkit-font-smoothing: antialiased;
}

body {
  @extend %primaryfont;
  background-color: black;
  color: $content;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: $headers;
  font-weight: bold;
}

hr {
  border-color: #efefef;
}

ul, ol, dl {
  line-height: 2.15;
}

p {
  margin-bottom: 30px;
  padding: 0;
  font-size: 1.15rem;
  line-height: 1.9;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: $headers;
  @include transition(color .2s ease-in-out);
  &:hover {
    color: $accent;
  }
}

code {
  background-color: #efefef;
  border: none;
  padding: 1em;
}

pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #0a0a0a;
  background-color: #efefef;
  border: none;
  padding: 2em;
  margin-bottom: 1em;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

input[type="submit"] {
	border: none;
	color: white;
	background: black;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.75em 1em;
  @include transition(color .2s ease-in-out);
  &:hover {
    color: $accent;
  }
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

.bg-white {
  background-color: white;
}
