/*--------------------------------------------------------------
4.1 404 Error
--------------------------------------------------------------*/
.error404 {
  .page-header, .page-content {
    text-align: center;
  }
  .page-header h1 {
    font-size: 14px;
    color: $meta;
    text-transform: uppercase;
    letter-spacing: 2px;
    @extend %secondaryfont;
  }
  .page-content {
    margin-bottom: 8em;
    p {
      font-size: 42px;
    }
  }
  .go-home {
    @extend %secondaryfont;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: black;
    padding: 1em 2em;
    font-size: 14px;
    @include transition(background-color .2s ease-in-out);
    &:hover {
      color: white;
    }
  }
}
